.topbuttonsection {
	display: table;
}
.topheader {
	height: 130px;
	position: relative;
}
.maincontainer {
	width: 1196px;
	padding-left: 5px;
	padding-right: 5px;
}
.menuimage {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.menuname{
	margin-top: 0px;
	margin-bottom: 8px;
	font-family: Verdana,sans-serif;
	font-weight: 900;

}
.menudescription {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Verdana,sans-serif;
	font-weight: 300;
}
.menuprice {
	display: grid;
	grid-template-columns: 120px 120px;
	grid-column-gap: 40px;
	text-align: center;
	margin-top: 15px;
	font-family: Verdana,sans-serif;
	font-weight: 300;
}
.ff {
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: Verdana,sans-serif;
	font-weight: 300;
}
.button {
    
    border: none;
    color: black;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.menucontainersparent {
	display: grid;
	
	grid-template-columns: 280px 280px 280px 280px;
	grid-column-gap: 24px;
	grid-template-rows: 530px 500px;
	padding-bottom: 20px;
	grid-row-gap: 24px;
	width: 1120px;
}
.menucontainerschild {
	display: grid;
	grid-template-rows: 280px 10px;
	padding: 10px 0px;
	width: 280px;
	grid-row-gap: 8px;
}
.choosebutton {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-color: rgb(219, 22, 219);
	border-left-color: rgb(219, 22, 219);
	border-right-color: rgb(219, 22, 219);
	border-bottom-color: rgb(219, 22, 219);
	border-top-width: 0.6px;
	border-left-width: 0.6px;
	border-right-width: 0.6px;
	border-bottom-width: 0.6px;
	height: 40px;
}

.slider {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


